@import "tailwindcss";

@theme {
  --color-wrcYellow: #fff200;
  --color-wrcYellowUI: #f5d90a;
  --color-wrcBlack: #111111;
  --color-wrcGray: #f5f5f5;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}